:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --text-color: #212021;
  --background-color: #dee2e6;

  font-synthesis: none;
}

[data-theme="dark"] {
  --background-color: #212021;
  --text-color: #dee2e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app {
  width: 800px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
}

.homepage-img-container {
  width: 100%; /* Adjust to the container’s size */
  height: auto; /* Maintain aspect ratio */
  overflow: hidden; /* Hide overflow if necessary */
  border-radius: 10px;
}

.homepage-img {
  width: 100%;
  height: 100%; /* Stretch to fill the container */
  object-fit: cover; /* Ensure the image covers the container, cropping if necessary */
  filter: blur(100px);
}

.nav {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.darkmode {
  width: 30px;
  height: 30px;
}

a,
.darkmode {
  margin-left: auto;
  transition: all 0.3s;
  scale: 1.1;
}

.navitems {
  display: flex;
  gap: 2rem;
  margin-left: 4rem;
  color: var(--text-color);
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

.logo {
  transition: all 0.3s;
}

a:hover,
.logo:hover,
.darkmode:hover {
  scale: 1.2;
  color: #3f3e3f;
}

/****************/
/****  main *****/
/****************/
.main {
  /* height: 500px; */
  padding: 3rem 2rem;
}

.main h2 {
  font-size: 70px;
  font-weight: 800;
  width: 300px;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.main p,
.main li {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  text-align: justify;
}
/****************/
/****footer *****/
/****************/
.footer {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  gap: 1rem;
  align-items: center;
}

.footer-items {
  display: flex;
  gap: 1rem;
}

.copyright {
  margin-left: 2rem;
  font-size: 1rem;
}

.footer a {
  transition: all 0.3s;
  text-decoration: none;
}

.footer a:hover {
  transform: translateY(-3px);
  scale: 1.5;
  cursor: pointer;
}
