:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  --color-light: #dee2e6;
  --bg: #212021;

  /* Primary Color (for key elements like buttons, links, and highlights) */
  --color-Bright-purple: #624b81;

  /* Text Color (for headings and body text): */
  --color-dark-gray: #212021;

  /* Secondary Color (for accents, less important buttons, or hover states): */
  --color-medium-gray: #6c757d;

  /* Border Color (for card borders or input fields): */
  --color-light-gray: #dee2e6;

  /* nav bar: */
  --color-rich-purple: #6a0dad;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-light-gray);
  background-color: var(--bg);
}

.app {
  width: 800px;
  height: 90vh;
  padding: 1.5rem;
  color: var(--color-light-gray);
  background-color: var(--color-medium-gray);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
}

.nav {
  display: flex;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
  cursor: pointer;
}

.darkmode {
  margin-left: auto;
}

.navitems {
  display: flex;
  gap: 2rem;
  margin-left: 4rem;
}

a,
.logo {
  transition: all 0.3s;
}

a:hover,
.logo:hover,
.darkmode:hover {
  color: var(--color-Bright-purple);
}

.logo {
  font-size: 2rem;
}
/****************/
/****  main *****/
/****************/
.main {
  height: 80vh;
  padding: 3rem 2rem;
}

.main h2 {
  font-size: 70px;
  font-weight: 800;
  width: 300px;
  line-height: 3.5rem;
  margin-bottom: 1.5rem;
}

.main p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  text-align: justify;
}
/****************/
/****footer *****/
/****************/
.footer {
  display: flex;
  flex-direction: row;
  height: 7rem;
  font-size: 1.5rem;
  gap: 0.7rem;
}

.copyright {
  margin-left: 2rem;
  font-size: 1rem;
}

.twitter,
.github,
.linkedin {
  transition: all 0.3s;
}

.twitter:hover,
.github:hover,
.linkedin:hover {
  transform: translateY(-3px);
  scale: 1.5;
  color: var(--color-Bright-purple);
  cursor: pointer;
}

.Github-link {
  text-decoration: none;
}
