:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  --color-light: #dee2e6;
  --bg: #212021;

  /* Primary Color (for key elements like buttons, links, and highlights) */
  --color-Bright-purple: #624b81;

  /* Text Color (for headings and body text): */
  --color-dark-gray: #212021;

  /* Secondary Color (for accents, less important buttons, or hover states): */
  --color-medium-gray: #6c757d;

  /* Border Color (for card borders or input fields): */
  --color-light-gray: #dee2e6;

  /* nav bar: */
  --color-rich-purple: #6a0dad;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-light-gray);
  background-color: var(--bg);
}

.app {
  width: 900px;
  height: 90vh;
  color: var(--color-light-gray);
  /* background-color: var(--color-dark-gray); */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1rem;
}

.nav {
  display: flex;
  /* justify-content: end; */
  /* background-color: var(--color-Bright-purple); */
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  gap: 2.5rem;
  height: 3rem;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 2rem;
}

.main {
  height: 80vh;
}
.footer {
  /* background-color: var(--color-medium-gray); */
  height: 7rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
